<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <UI Id="MT5DetectionDialog">
      <Dialog Id="MT5DetectionDlg" Width="370" Height="270" Title="[ProductName] - MT5 Installation">
        
        <!-- Background -->
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        
        <!-- Title and description -->
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}MetaTrader 5 Detection" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="20" Transparent="yes" NoPrefix="yes" Text="Please specify the MetaTrader 5 installation directory." />
        
        <!-- MT5 Directory Selection -->
        <Control Id="MT5PathLabel" Type="Text" X="20" Y="60" Width="330" Height="15" NoPrefix="yes" Text="MT5 Installation Directory:" />
        <Control Id="MT5PathEdit" Type="PathEdit" X="20" Y="78" Width="250" Height="18" Property="MT5DIRECTORY" />
        <Control Id="MT5BrowseButton" Type="PushButton" X="275" Y="78" Width="75" Height="18" Text="Browse...">
          <Publish Property="_BrowseProperty" Value="[MT5DIRECTORY]" Order="1" />
          <Publish Event="SpawnDialog" Value="BrowseDlg" Order="2" />
        </Control>
        
        <!-- Status message -->
        <Control Id="DetectionStatus" Type="Text" X="20" Y="105" Width="330" Height="30" NoPrefix="yes" Text="[MT5STATUSMESSAGE]" Hidden="yes" />
        
        <!-- Information text -->
        <Control Id="InfoText" Type="Text" X="20" Y="140" Width="330" Height="80" NoPrefix="yes" Text="The installer will search for MetaTrader 5 in the default location:&#xA;C:\MetaTrader 5 Platform\TradeMain&#xA;&#xA;If MT5 is installed in a different location, please browse to the MT5 root directory.&#xA;&#xA;The plugin file (PawnPlugin64.dll) will be copied to the MT5 Plugins folder." />
        
        <!-- Navigation Buttons -->
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&amp;Back">
          <Publish Event="NewDialog" Value="LicenseVerifyDlg" />
        </Control>
        
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next" Disabled="yes">
          <Publish Event="DoAction" Value="CA_DetectMT5Installation" Order="1" />
          <Publish Event="NewDialog" Value="LicenseAgreementDlg" Order="2" Condition="MT5DIRECTORY AND MT5DIRECTORY &lt;&gt; &quot;&quot;" />
        </Control>
        
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg" />
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
