<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <UI Id="CustomInstallUI">
      <!-- Property for validation messages -->
      <Property Id="VALIDATIONMESSAGE" Hidden="yes" />
      <Property Id="MT5STATUSMESSAGE" Hidden="yes" />
      
      <!-- Reference standard WixUI dialogs -->
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="WelcomeDlg" />
      <DialogRef Id="LicenseAgreementDlg" />
      <DialogRef Id="VerifyReadyDlg" />
      
      <!-- Reference our custom dialogs -->
      <DialogRef Id="LicenseVerifyDlg" />
      <DialogRef Id="LicenseBrowseDlg" />
      <DialogRef Id="MT5DetectionDlg" />
      
      <!-- Dialog flow: Welcome -> LicenseVerify -> MT5Detection -> LicenseAgreement -> VerifyReady -> Progress -> Finish -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseVerifyDlg" />
      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="MT5DetectionDlg" />
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" Order="2" />
    </UI>
    
    <!-- License Browse Dialog -->
    <UI Id="LicenseBrowseDialog">
      <Dialog Id="LicenseBrowseDlg" Width="370" Height="270" Title="[ProductName] - Browse for License File">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}Select License File" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Browse to your WhiteBeard Pawn Plugin license file." />
        
        <Control Id="FileLabel" Type="Text" X="20" Y="60" Width="100" Height="15" NoPrefix="yes" Text="License File:" />
        <Control Id="FileEdit" Type="PathEdit" X="20" Y="78" Width="250" Height="18" Property="LICENSEFILE">
          <Publish Property="LICENSEFILE" Value="C:\ProgramData\WhiteBeard" Order="1" Condition="NOT LICENSEFILE" />
        </Control>
        <Control Id="FileBrowseButton" Type="PushButton" X="275" Y="78" Width="75" Height="18" Text="Browse...">
          <Publish Event="DirectoryListOpen" Value="LICENSEFILE" />
        </Control>
        
        <Control Id="InfoText" Type="Text" X="20" Y="110" Width="330" Height="60" NoPrefix="yes" Text="Please select a file ending with &quot;_pawn_plugin.lic&quot;.&#xA;&#xA;The license file should have been provided to you by WhiteBeard after registration.&#xA;&#xA;Default search location: C:\ProgramData\WhiteBeard" />
        
        <Control Id="OK" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="OK">
          <Publish Event="DoAction" Value="CA_SearchLicenseFile" Order="1" />
          <Publish Event="EndDialog" Value="Return" Order="2" />
        </Control>
        
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="EndDialog" Value="Return" />
        </Control>
      </Dialog>
    </UI>
    
  </Fragment>
</Wix>
